<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.farmwiseai.exportdesign" >

	

	<application
		android:allowBackup="true"
		android:theme="@style/Theme.Exportdesign"
		android:label="@string/app_name" >

		<activity
		android:name=".androidLarge"
		android:configChanges="orientation|keyboardHidden|screenSize"

		android:exported="true"

			tools:ignore="MissingClass">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".Onboarding2"
			android:configChanges="orientation|keyboardHidden|screenSize"

			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".onboarding_3_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"

			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".onboarding_4_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"

			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".onboarding_5_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".screen1"
			android:configChanges="orientation|keyboardHidden|screenSize"

			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".screen_7_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"

			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".screen_9_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"

			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".screen_8_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".screen_11_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>

</manifest>
	
	